body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.four {
    padding: 50px 20px;
    text-align: center;
}

    .four h1 {
        font-family: 'Merriweather', serif;
        position: relative;
        color: #000000;
        font-size: 50px;
        font-weight: normal;
        padding: 8px 20px 7px 20px;
        border-top: 4px solid;
        border-left: 4px solid;
        display: inline-block;
        margin: 0;
        line-height: 1;
    }

        .four h1:before {
            content: "";
            position: absolute;
            width: 28px;
            height: 28px;
            top: -28px;
            left: -28px;
            border: 4px solid #000000;
            box-sizing: border-box;
        }

@media (max-width: 450px) {
    .four h1 {
        font-size: 36px;
    }

        .four h1:before {
            width: 20px;
            height: 20px;
            top: -20px;
            left: -20px;
        }
}

.text {
    text-align: justify;
    margin-top: 40px;
    font-family: 'Times New Roman';
}

.text p {
    font-size: 20px;
}

